/* debug */

[class*="col-"]{
    min-height: 2rem;
    background-color: dodgerblue;
    color: white;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
    font-size:0.8rem;
}

[class*="col-offset-"]{
    background-color: transparent;
}


[class*="col-"]>[class*="col-"]{
    background-color: limegreen;
    border-color: dodgerblue;
}

.col {
    min-height: 2rem;
    background-color: dodgerblue;
    color: white;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    padding-bottom: 1rem;
}




